@{
    ViewData["Title"] = "Welcome to TransferMarketApp";
}

<header class="hero">
    <h1 class="display-3 fw-bold">Welcome to TransferMarketApp</h1>
    <p class="lead">See the latest about your favorite clubs, players, transfers & stats in the ultimate football transfer market!</p>
    <a href="~/Identity/Account/Login" class="btn btn-custom">Login</a>
    <a href="~/Identity/Account/Register" class="btn btn-custom">Register</a>
</header>
